---
import '../styles/posts.css';
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const tags = frontmatter.tags;
const allPosts = await getCollection('posts');
let filteredPosts = allPosts.filter((post) => post.data.tags.some((e: string) => tags.includes(e)));
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>Written by {frontmatter.author}</p>
    <div class="image-container">
        <img src={frontmatter.image.url} alt={frontmatter.image.alt}>
        <div class="text-overlay">
            <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
            <p>{frontmatter.description}</p>
        </div>
    </div>
    <div class="tags">
        {filteredPosts.map((post) => <p class="tag"><a href={`/posts/${post.slug}`}>{post.data.title}</a></p>)}
    </div>
</BaseLayout>