---
import postsUrl from '../data/postsUrls';
import BaseLayout from './BaseLayout.astro';
const {frontmatter} = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>Written by {frontmatter.author}</p>
    <div class="image-container">
        <img src={frontmatter.image.url} alt={frontmatter.image.alt}>
        <div class="text-overlay">
            <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
            <p>{frontmatter.description}</p>
        </div>
    </div>
    <div class="nav-links" style="display: inline-flex; gap: 1rem;">
        {Object.keys(postsUrl).map((key) => (
            <a href={postsUrl[key].route}>{postsUrl[key].title}</a>
        ))}
    </div>
    <slot />
</BaseLayout>
